html {
    background-color: #000033;
}

body {
    margin: 0;
    overflow: hidden;
}

#moon {
    position: absolute;
    top:100px;
    right:100px;
    width:150px;
}

#firing-button {
    position: absolute;
    left:200px;
    bottom: 100px;
    width:75px;
    height:75px;
    cursor: pointer;
}

#cancel-button{
    position: absolute;
    left:100px;
    bottom: 100px;
    width:75px;
    height:75px;
    cursor: pointer;
}

.disabled {
    filter:grayscale(100%);
    cursor: none;
}

#billboard {
    position: absolute;
    left:50px;
    top:100px;
    width: 314px;
    height: 200px;
    background-image: url('../images/billboard.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#billboard span {
    display: inline-block;
    width: 100px;
    height: 170px;
    position: absolute;
    right: 15px;
    top: 15px;
    
    font-size: 5rem;
    line-height: 170px;
    color: white;  
}

#launching-ramp {
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(calc(-50% - 150px));
}

#elevator{
    position: absolute;
    bottom: 0;
    left: 29%;
    width: 40px;
    transition: bottom 20s ease, left 15s, transform 5s 1s;
}

#tintin1{
    position: absolute;
    width: 30px;
    left: 29%;
    bottom: 65%;
    visibility: hidden;
    transition:  left 15s, visibility 15s;
    transition-delay: 15s;
    z-index: -1;
}

#tintin1.walking{
    visibility: visible;
    left: 47%;
}

#tintin1.walking.chao{
    display: none;
}


#rocket {
    position: absolute;
    bottom:-207px;
    width:200px;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 20s ease, left 15s, transform 5s 1s;
}

.smoke{
    position: absolute;
    bottom: -66px;
    transform: translate(calc(-50% - 150px));
    width: 200px;
    display: none;
}

#smoke { 
    left: 57%;
}

#smoke2{
    left: 71%;
}

#elevator.boarding{
    bottom: 65%;
}

#rocket.tookOff {
    bottom: 2000px;
    left: 75%;
    transform: rotate(30deg) scale(0.5);
}

#rocket.landing{
    bottom: 34px;
    width: 200px;
    left: 87%;
    transform: translate(-82%);
    transition: bottom 20s ease, left 15s, transform 5s 1s;
    transform: scale(0.2);
}

.star {
    position: absolute;
    z-index:-1;
    opacity: 0.8;
    color: orange;

}

.star.tiny {
    width: 10px;
    height: 10px;
    font-size: 0.5rem;
}

.star.normal {
    width: 10px;
    height: 10px;
    font-size: 1rem;
}

.star.big {
    width: 30px;
    height: 30px;
    font-size: 2rem;
}

@keyframes starsFlash {
    from {transform: scale(0);
    }
    to {transform: scale(1);}
}

.star {
     -moz-animation-name: starsFlash;
     -moz-animation-duration: 15s;
     animation-iteration-count: 1;
     transition-duration: 10s;
     transition-timing-function: linear;
}

@keyframes rotateAnim {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}
#moon {
     -moz-animation-name: rotateAnim;
     -moz-animation-duration: 60s;
     animation-iteration-count: infinite;
     transition-duration: 60s;
     transition-timing-function: linear;
}
